#container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh; /* Full viewport height for container */
  }

  ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .section {
    scroll-snap-align: center; /* Snap at the start of each section */
  }