
<div id="container">
  <div  class="section w-100 h-[60vh] position-relative">
    <div class="flex h-100 w-100 flex justify-center items-center">
    <h1 class="text-8xl text-white" style="z-index: 1;">LY PORTFOLIO WEBSITE</h1>
    </div>
    <img src="header.jpg" class="h-100 w-100 top-0 position-absolute opacity-50">



  </div>
  <div class="section bg-white h-[45vh]">
    <h2>About Section</h2>
    <p>This is the About section.</p>
  </div>
  <div class="section bg-gray-200">
    <div class="h-[55vh]">
    <h2>Skills Section</h2>
    <p>This is the Skills section.</p>
  </div>
  
    <div class="h-[5vh]">
      <app-footer></app-footer>
      </div>
  </div>
 

</div>
