
<div id="container">
  <div  class="section w-100 h-[60vh] position-relative">
    <div class="flex h-100 w-100 flex justify-center items-center">
    <h1 class="text-8xl text-white" style="z-index: 1;">LY PORTFOLIO WEBSITE</h1>
    </div>
    <img src="header.jpg" class="h-100 w-100 top-0 position-absolute opacity-50">



  </div>
  <div class="section bg-white h-[55vh] flex flex-col pt-4">
  <h1 class="h-[5vh] w-100 flex align-center justify-center m-2 text-4xl">HARD SKILLS</h1>
  <div class="grid grid-cols-4 gap-4 h-[40vh] px-2">
   
      <div class=" rounded p-4 hover:scale-105 duration-300">
          <div class="bg-black rounded-2xl flex justify-center items-center">
          <img src="web_dev-hardskill.png" class="p-10">
          </div>
          <h2 class=" text-center text-3xl">WEB DEVELOPMENT</h2>
      </div>

      <div class=" rounded p-4 hover:scale-105 duration-300">
        <div class="bg-black rounded-2xl flex justify-center items-center">
        <img src="graphic_design-hardskill.png" class="p-10">
        </div>
        <h2 class=" text-center text-3xl">PHOTOGRAPHY</h2>
    </div>
    
    <div class=" rounded p-4 hover:scale-105 duration-300">
      <div class="bg-black rounded-2xl flex justify-center items-center">
      <img src="QA-hardskill.png" class="p-10">
      </div>
      <h2 class=" text-center text-3xl">QUALITY TESTING</h2>
  </div>
  
  <div class=" rounded p-4 hover:scale-105 duration-300">
    <div class="bg-black rounded-2xl flex justify-center items-center">
    <img src="photography-hardskill.png" class="p-10">
    </div>
    <h2 class=" text-center text-3xl">PHOTOGRAPHY</h2>
</div>
  </div>
  </div>
  <div class="section bg-gray-200">
    <div class="h-[55vh]">
    <h2>Skills Section</h2>
    <p>This is the Skills section.</p>
  </div>
  
    <div class="h-[5vh]">
      <app-footer></app-footer>
      </div>
  </div>
 

</div>
