<div class="flex flex-col align-center justify-center h-full bg-black text-white w-100 py-1">
    <div class="icons w-100 h-50 flex align-center justify-center">
        <div class="flex justify-between">
        <div><a href="https://www.facebook.com"> <img src="footer-fb.png" class="h-100"></a></div>
        <div><a href="https://x.com/?lang=en"> <img src="footer-x.png" class="h-100"></a></div>
        <div><a href="mailto:yambaoluise29@gmail.com?subject=LY%20Portfolio"> <img src="footer-email.png" class="h-100"></a></div>
        <div><a href="https://www.linkedin.com/in/luise-gian-yambao-9a3757325"> <img src="footer-linkedin.png" class="h-100"></a></div>
        </div>
    </div>
    <div class="w-100 h-50 flex align-center justify-center"> <span class="text-gray-400">2024 &copy;</span> &nbsp;  &nbsp; LY Portfolio | All Rights Reserved</div>
</div>
