
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import 'bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

$active-bg-color: #5e3a32;
$active-text-color: #ffffff;
$text-color-1: #ffffff;
$text-color-2: #000000;
$btn-bg-color: #5e3a32;
$btn-text-color: #ffffff;
$btn-hover-bg-color: #c79451;
$bg-color: #2c1f0f;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html,body {
  scroll-behavior: smooth;
  background-color: $bg-color;

}

.btn {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    border: none;
}

.btn:hover {
    background-color: $btn-hover-bg-color;
}

.input-container {
    position: relative;
  }

  .input-with-icon {
    padding-left: 7%;
    background-color: #ffffff;
  }
  
  .input-icon {
    position: absolute;
    left: 2%;
    top: 20%;
    height: 30px;
    width: 30px;
  }